.App {
  text-align: center;
}

.primaryColor {
  color: #ff682d;
}
.logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
}

.spinnerStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: 50% 50%;
}
